@use'./variables';

.footer{
    background-color: variables.$color_primario;
    color: variables.$fonts-color;
    margin-left: 0rem;
    h2{
        font-size: 3.2rem;
        padding-left: 10rem;
        padding-top: 3rem;
        padding-bottom: 0.5rem;
        font-weight: 700;
    }
    .footer-info{
        display: block;
        padding-left: 10rem;
        padding-right: 20rem;
        h3:nth-child(1){
            border-top: variables.$box;
            padding-top: 2.5rem;
        }
        h3{
            font-size: 2.4rem;
            padding-top: 1.7rem;
            border-bottom: variables.$box;
            font-weight: 700;
        }
        p{
            font-size: 1.5rem;
            padding-bottom: 1rem;
            font-weight: 500;
        }
    }
    .footer-form{
        form{
            gap: 0.5rem;
            display: flex;
            flex-direction: column;
            input{
                width: 80%;
                height: 5rem;
                font-size: 2rem;
                font-weight: 500;
            }
            p{
                font-size: 1.6rem;
                width: 80%;
                font-weight: 500;
            }
        }
        .footer-redes{
            display: flex;
            gap: 5rem;
            padding-top: 8rem;
            li{
                list-style: none;
                a{
                    img{
                        width: 3rem;
                    }
                }
            }
        }
    }
    .final-footer{
        background-color: #0e2a47;
        display: flex;
        justify-content: center;
        p{
            font-size: 1.5rem;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}