@media (max-width:1200px){
    
    .header{
        .header-nav{
            .nav-ul{
                padding: 0rem;
                margin: 0rem;
                .nav-ul-li:nth-child(1){
                    a{
                        .flecha{
                            margin: 0rem;
                        }
                    }
                }
            }
        }
    }
    main{
        .section-promociones{
            article{
                width: 40rem;
                padding: 2rem;
            }
        }
    }
}
@media (max-width:990px){
    .top_header{
        .top_header-informacion{
            display: none;
        }
        .body_header{
            form{
            }
        }
    }
    .header{
        .header-nav{
            .nav-ul{
                margin: 0rem;
                font-size: 4rem;
                justify-content: space-evenly;
                .nav-ul-li:nth-child(1){
                        display: none;
                    }
                .nav-ul-li{
                    padding: 0rem;
                    width: 14rem;
                    
                }
            }
        }
    }
    main{
        .section-promociones{
            article{
                width: 30rem;
                padding-top: 2rem;
            }
        }
    }
}
@media (max-width:780px){
    .top_header{
        display: none;
    }
    .header{
        background-color: white;
        width: 100%;
        .header-nav{
            background-color: white;
            height: auto;
            display: flex;
            flex-direction: column;
            width: 100%;
            .checkbox, .menu{
                display: block;
                position: absolute;
                cursor: pointer;
                right: 10rem;
                width: 4.5rem;
                height: 4.5rem;
                top: 3rem;
            }
            .menu{
                pointer-events: none;
                display: block;
            }
            .cerrar{
                display: none;
            }
            .checkbox{
                opacity: 0;
            }
            .checkbox:checked ~ .abrir{
                display: none;
            }
            .checkbox:checked ~ .cerrar{
                display: block;
            }
            .checkbox:checked ~ .nav-ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 70%;
            }
            a{
                display: flex;
                width: 10rem;
                right: 20rem;
                padding-left: 10rem;
                img{
                    width: 10rem;
                    display: flex;
                }
            }
            .nav-ul{
                display: none;
                text-align: center;
                background-color: gray;
                transition: all 3s;
                
                .nav-ul-li{
                    border-bottom: 1px solid #dee2e6;
                    width: 100%;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    a{
                        color: black;
                        font-size: 2.3rem;
                        img{
                            display: none;
                        }
                    }
                }
                .nav-ul-li:nth-child(2){
                    padding-left: 0rem;
                }
            }
        }
    }
}
@media (max-width:620px){
    
}
@media (max-width:580px){
    
}