$box:1px solid #6c757d;
$fonts-color:#fff;
$color_primario:#08527A;
$color-secundario:#4286f4;
$color-tercero:#6c757d;
$color-cuarto:#dee2e6;
$color-quinto:#c7c7c7;
$fondo-gris:#ebebeb;
$sombras-secundarias:0 10px 20px #c7c7c7;
$sombras-primarias:0 1px 5px #c7c7c7;
$border-gris:1px #dee2e6 solid;