@use'../variables';
.main-contactos{
    background-color: variables.$fondo-gris;
    .contactos-section{
        display: flex;
        justify-content: center;
        padding: 5rem 0rem 5rem 0rem;
        gap: 4rem;
        .contactos-informacion{
            h2{
                font-size: 2.7rem;
                padding: 1rem;
                color: variables.$color_secundario;
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h3{
                    font-size: 2.2rem;
                    color: variables.$color-secundario;
                }
                p{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .contactos-registro{
        div{
            .contactos-form{
                padding-bottom: 2rem;
                .contactos-form-inputs{
                    width: 100%;
                    display: flex;
                    gap: 0.5rem;
                    input{
                        font-size: 2rem;
                        width: 50%;
                        height: 5rem;
                    }
                }
                .contactos-form-textarea{
                    textarea{
                        height: 12rem;
                    }
                }
                button{
                    width: 100%;
                    height: 5rem;
                    font-size: 2.2rem;
                    font-weight: 500;
                }
            }
            .contactos-mapa{
                iframe{
                    width: 100%;
                }
            }
        }
    }
}