main{
    .index-carousel{
        margin-bottom: 8rem;
        margin-top: 0.2rem;
    }
    .section-promociones{
        justify-content: center;
        margin-bottom: 7rem;
        flex-wrap: wrap;
        article{
            display: flex;
            width: 21%;
            justify-content: space-evenly;
            img{
                width: 6.5rem;
                height: 78%;
            }
            div{
                width: 16rem;
                p{
                    font-size: 1.2rem;
                    letter-spacing:1.4px;
                    font-weight: 550;
                    color: #6c757d;
                }
            }
            h3{
                font-weight: 645;
                font-size: 1.5rem;
                color: blue;
            }
        }
    }
    .subtitulo-index{
        margin-bottom: 2rem;
        h2{
            text-align: center;
            font-size: 3rem;
            color: blue;
        }
    }
    .productos{
        justify-content: center;
        gap: 4rem;
        margin-right:0rem;
        margin-bottom: 5rem;
        article:hover{
            box-shadow: 0 10px 20px #c7c7c7;
            transform: translate(0,-3px);
        }
        article{
            width: 28rem;
            box-shadow: 0 1px 5px #c7c7c7;
            transition: all 0.3s;
            .conteiner-cards{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 100%;
                }
                div{
                    text-align: center ;
                    p{
                        font-size: 1.6rem;
                        font-weight: 500;
                    }
                }
                h3{
                    color: red;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 600;
                }
                .conteiner-button{
                    display: flex;
                    padding-top: 2rem;
                    gap: 2rem;
                    width: 100%;
                    padding-bottom: 1rem;
                    button:hover{
                        box-shadow: 0 1px 5px #c7c7c7;
                        transform: translate(0,-3px);
                        background-color: lightblue;
                    }
                    button{
                        transition: all 0.3s;
                        font-size: 1.7rem;
                        width: 50%;
                        height: 4.5rem;
                        background-color: white;
                        border: 1px #dee2e6 solid;
                        img{
                            width: 2.5rem;
                        }
                    }
                }
            }
        }
        .index-modal{
            z-index: 9999;
        }
    }
}