main{
    .index-carousel{
        margin-bottom: 8rem;
    }
    .section-promociones{
        justify-content: center;
        margin-bottom: 7rem;
        flex-wrap: wrap;
        article{
            display: flex;
            width: 22%;
            justify-content: space-evenly;
            img{
                width: 7rem;
                height: 78%;
            }
            div{
                width: 16rem;
                p{
                    font-size: 1.2rem;
                    letter-spacing:1.4px;
                    font-weight: 550;
                    color: #6c757d;
                }
            }
            h3{
                font-weight: 645;
                font-size: 1.5rem;
            }
        }
    }
    .subtitulo-index{
        margin-bottom: 2rem;
        h2{
            text-align: center;
            font-size: 3rem;
        }
    }
    .productos{
        justify-content: center;
        gap: 2rem;
        margin-right:0rem;
        article{
            width: 30rem;
            height: 50rem;
            img{
                width: 100%;
            }
            div{
                text-align: center;
                p{
                    font-size: 1.8rem;
                }
            }
            h3{
                color: red;
                text-align: center;
            }
            .productos-boton{
                height: 25%;
            }
        }
    }
}