@use'../variables';
main{
    .index-carousel{
        margin-bottom: 8rem;
        margin-top: 0.2rem;
        .carousel{
            .conteiner-imagenes{
                div{
                    height: 45rem;
                    img{
                        height: 45rem;
                    }
                }
            }
        }
    }
    .section-promociones{
        margin-bottom: 7rem;
        flex-wrap: wrap;
        justify-content: center;
        article{
            display: flex;
            width: 30rem;
            gap: 1rem;
            img{
                width: 6.5rem;
            }
            div{
                p{
                    font-size: 1.2rem;
                    letter-spacing:1.4px;
                    font-weight: 550;
                    color: variables.$color-tercero;
                }
            }
            h2{
                font-weight: 700;
                font-size: 1.5rem;
                color: variables.$color-secundario;
            }
        }
    }
    .subtitulo-index{
        margin-bottom: 2rem;
        h2{
            text-align: center;
            font-size: 3rem;
            color: variables.$color-secundario;
        }
    }
    .productos{
        justify-content: center;
        gap: 4rem;
        margin-right:0rem;
        margin-bottom: 5rem;
        article{
            width: 28rem;
            padding: 0rem;
            .conteiner-cards:hover{
            box-shadow: variables.$sombras-secundarias;
            transform: translate(0,-3px);
            }
            .conteiner-cards{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                box-shadow: variables.$sombras-primarias;
                padding: 0rem 2rem 0rem 2rem;
                transition: all 0.3s;
                img{
                    width: 100%;
                }
                div{
                    text-align: center ;
                    p:hover{
                        color: variables.$color-secundario;
                    }
                    p{
                        font-size: 1.6rem;
                        font-weight: 500;
                    }
                }
                h3{
                    color: variables.$color-secundario;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 600;
                }
                .conteiner-button{
                    display: flex;
                    gap: 2rem;
                    width: 100%;
                    padding-bottom: 1rem;
                    button:hover{
                        box-shadow: variables.$sombras-primarias;
                        transform: translate(0,-3px);
                        background-color: variables.$color-secundario;
                    }
                    button{
                        transition: all 0.3s;
                        font-size: 1.7rem;
                        width: 50%;
                        height: 4.5rem;
                        background-color: white;
                        border: variables.$border-gris;
                        img{
                            width: 2.5rem;
                        }
                    }
                }
            }
        }
    }
    .slider{
        width: 85vw;
        height: auto;
        margin: auto;
        overflow: hidden;
        .slider-track{
            display: flex;
            animation: scroll 40s linear infinite;
            width: (200px * 26);
            align-items: center;
            gap: 3rem;
            .slide{
                width: 200px;
                img{
                    width: 100%;
                }
            }
        }
    }
    @keyframes scroll {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-180px * 13);
        }
    }
}