@use'../variables';
.main-tienda{
    padding-left: 8rem;
    margin-right: 0rem;
    background-color: variables.$fondo-gris;
    h2{
        border-bottom: variables.$border-gris;
        padding: 2rem 0rem 2rem 0rem;
        font-size: 2.8rem;
        color: variables.$color-secundario  ;
    }
    .tienda-categorias{
        border-right: variables.$border-gris;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 50rem;
        &:hover{
            box-shadow: variables.$sombras-primarias;
        }
        h3{
            font-size: 2.2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: variables.$color-secundario;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-left: 0rem;
            li{
                list-style: none;
                a{
                    font-size: 2rem;
                    display: block;
                    text-decoration: none;
                    color: variables.$color-tercero;
                    width: 100%;
                    &:hover{
                        color: variables.$color-secundario;
                    }
                }
            }
        }
    }
    .todos-los-productos{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 2rem;
        padding-right: 3rem;
        article{
            background-color: white;
            display: flex;
            &:hover{
                box-shadow: variables.$sombras-primarias;
            }
            img{
                width: 28rem;
                &:hover{
                    box-shadow:variables.$sombras-primarias;
                }
            }
            .conteiner-cards{
                display: flex;
                flex-direction: column;
                padding-left: 1rem;
                div{
                    p{
                        font-size: 2rem;
                        padding-top: 2rem;
                        font-weight: 500;
                        color: black;
                    }
                    padding-bottom: 2rem;
                }
                p{
                    font-size: 2rem;
                    color: variables.$color-tercero;
                }
                h3{
                    font-size: 2.2rem;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    color: variables.$color-secundario;
                }
                .conteiner-button{
                    padding-top: 2rem;
                    display: flex;
                    gap: 2rem;
                    button{
                        width: 10rem;
                        height: 4rem;
                        background-color: white;
                        box-shadow: variables.$sombras-primarias;
                        &:hover{
                            background-color: variables.$color-secundario;
                        }
                        img{
                            width: 3rem;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}